asgiref==3.9.1
crispy-bootstrap5==2025.6
Django==4.2.15
django-crispy-forms==2.5
gunicorn==23.0.0
mysqlclient==2.2.7
packaging==25.0
pillow==11.3.0
psycopg2-binary==2.9.11
sqlparse==0.5.3
whitenoise==6.5.0
