{% block banner %}
{% load static %}


<style>
    .dropd1{
        display: block;
       
        
        
        
    }
    .drop{
        display: flex;
        gap: 20px;
        margin-left: 750px;
    }

    .dropd1 button{
        
        font-size: 14px;
    }

    .dropd2{
        
    }
    @media (max-width: 480px) {
                .dropd1{
                    display: block;
                    
                }
                
                .drop{
                    display: block;
                    gap: 0px;
                    margin-left: 25px;
                }

                .dropd1 button{
                    font-size: 12px;
                    
                    
                      
                }

                .dropd2{
                    margin-left: 0px;
                    margin-top: 5px;
                }

                .dropd2 a{
                    width: 85px;
                    font-size: 12px;
                    
                }
                
              }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link href="https://fonts.cdnfonts.com/css/metabooklf-roman" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/noto-sans-symbols" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/lexend" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/jomolhari-2" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/familjen-grotesk" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/rogan" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/noto-sans-myanmar" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/chivo-mono" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inconsolata:wght@200..900&family=Lexend+Deca:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">

    <link href="https://fonts.cdnfonts.com/css/noto-sans-thaana" rel="stylesheet">

                
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <main>
        <div>
            {% 
            {% block navbar %}
                
            %}
            <div class="navvbar">
                <div class="bothul">
                    <div class="ullist1">
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'services' %}">Services</a></li>
                            <li><a href="{% url 'news' %}">News</a></li>
                        </ul>
                    </div>
                    
                    
                    {% if request.user.is_authenticated %}
                    
                    <div class="drop">

                        <div class="dropd1">
                            <div class="dropdown me-3">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{request.user.username}}
                                </button>
                                
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'profile' request.user.id %}">My Profile</a></li>
                                    {% if request.user.is_superuser %}
                                    <li><a class="dropdown-item" href="{% url 'all_user' 'staff' %}">Staff</a></li>
                                    <li><a class="dropdown-item" href="{% url 'all_user' 'customer' %}">Customers</a></li>
                                    {% elif request.user.is_staff %}
                                    <li><a class="dropdown-item" href="{% url 'all_user' 'customer' %}">Customers</a></li>
                                    {% endif %}
                                    <li><a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a></li>
                                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                                </ul>
                            </div>
                        </div>

                    <div class="dropd2">
                            <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                                Transactions
                            </a>
                        
                              
                              <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                                <div class="offcanvas-header">
                                  <h5 class="offcanvas-title" id="offcanvasExampleLabel">Account Features</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body">
                                  <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                      Click Here
                                    </button>
                                    <ul class="dropdown-menu">
                                      <li><a class="dropdown-item" href="{% url 'new_account' request.user.id %}">New Account</a></li>
                                      <li><a class="dropdown-item" href="{% url 'my_account' request.user.id %}">My Accounts</a></li>
                                      <li><a class="dropdown-item" href="{% url 'pin_auth' 'balance' %}">Balance</a></li>
                                      <li><a class="dropdown-item" href="{% url 'pin_auth' 'deposit' %}">Deposit</a></li>
                                      <li><a class="dropdown-item" href="{% url 'pin_auth' 'withdraw' %}">Withdraw</a></li>
                                      <li><a class="dropdown-item" href="{% url 'pin_auth' 'transfer' %}">Transfer</a></li>
                                      <li><a class="dropdown-item" href="{% url 'pay_bill' request.user.id %}">Pay Bills</a></li>
                                      <li><a class="dropdown-item" href="{% url 'pin_auth' 'recharge' %}">Recharge Airtime</a></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>


                    </div>
                    
                    {% else %}
                    <div class="ullist2">
                        <ul>
                            <li><a href="{% url 'login' %}">Login</a></li>
                            <li><a href="{% url 'signup' %}">SignUp</a></li>
                        </ul>
                    </div>
                    {% endif %}
                    
                </div>
                
            </div>            
            <!-- header-->
            
            {% endblock navbar %}

        {% endblock banner %}

                
    {% block body_content %}
                    
    {% endblock body_content %}

                

        </div>
       <!--footer-->
        <div class="footer">
            <div class="endword">
                <h3>© 2026 Digital Banking System</h3>
                <h4>Empowering Financial Inclusion Through Secure Digital Banking Solutions.</h4>
                <h5>Quick Links | Privacy Policy | Terms & Conditions | Contact Us | Accessibility</h5>
                <h6>This system is developed for academic purposes only. All transactions are simulated.</h6>
            </div>
        </div>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>
                    